<a href="https://colab.research.google.com/github/asribavan/cind820---capstone-project/blob/main/Initial%20Results.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [87]:
import numpy as np
import pandas as pd
import os
import json
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
%matplotlib inline
inline_rc = dict(mpl.rcParams)

In [88]:
import os
print(os.listdir("/content/sample_data"))

['README.md', 'anscombe.json', 'yelp_academic_dataset_business.json', 'california_housing_test.csv', 'mnist_train_small.csv', 'california_housing_train.csv', 'mnist_test.csv']

In [89]:
users = []
with open('/content/sample_data/yelp_academic_dataset_business.json') as fl:
    for i, line in enumerate(fl):
        users.append(json.loads(line))
        if i+1 >= 100000:
            break
yelp_business = pd.DataFrame(users)
yelp_business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [ ]:
users = []
with open('/content/sample_data/yelp_academic_dataset_review.json') as fl:
    for i, line in enumerate(fl):
        users.append(json.loads(line))
        if i+1 >= 100000:
            break
yelp_review = pd.DataFrame(users)
yelp_review.head()

In [90]:
yelp_business.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,CA,93101,34.426679,-119.711197,5.0,7,0,{'ByAppointmentOnly': 'True'},"Doctors, Traditional Chinese Medicine, Naturop...",None
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,MO,63123,38.551126,-90.335695,3.0,15,1,{'BusinessAcceptsCreditCards': 'True'},"Shipping Centers, Local Services, Notaries, Ma...","{'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ..."
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,AZ,85711,32.223236,-110.880452,3.5,22,0,"{'BikeParking': 'True', 'BusinessAcceptsCredit...","Department Stores, Shopping, Fashion, Home & G...","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,PA,19107,39.955505,-75.155564,4.0,80,1,"{'RestaurantsDelivery': 'False', 'OutdoorSeati...","Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ..."
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,PA,18054,40.338183,-75.471659,4.5,13,1,"{'BusinessAcceptsCreditCards': 'True', 'Wheelc...","Brewpubs, Breweries, Food","{'Wednesday': '14:0-22:0', 'Thursday': '16:0-2..."

In [ ]:
yelp_review.head()

In [ ]:
sns.boxplot(x = 'stars', y = 'polarity', data = yelp_review)

In [ ]:
print("Average polarity of 5-star review: ", yelp_review[yelp_review['stars'] == 5]['polarity'].mean())
print("Average polarity of 4-star review: ", yelp_review[yelp_review['stars'] == 4]['polarity'].mean())
print("Average polarity of 3-star review: ", yelp_review[yelp_review['stars'] == 3]['polarity'].mean())
print("Average polarity of 2-star review: ", yelp_review[yelp_review['stars'] == 2]['polarity'].mean())
print("Average polarity of 1-star review: ", yelp_review[yelp_review['stars'] == 1]['polarity'].mean())

In [ ]:
reviews = yelp_review[yelp_review['stars'] != 3]

In [ ]:
reviews['class'] = reviews['stars'].apply(lambda x : (1 if x>=4 else 0))
reviews.head()

In [ ]:
a = reviews.sample(500)
jitter_y = a['class'] + 0.1*np.random.rand(len(a['class'])) -0.05
points = go.Scatter(x=a['polarity'], y = jitter_y, mode="markers", marker=dict(opacity=0.5))

In [91]:
yelp_business.shape

(100000, 14)

In [ ]:
yelp_review.shape
yelp_review.stars.value_counts()

In [ ]:
yelp_dataset = yelp_business.append(yelp_review)
display(yelp_dataset)

In [ ]:
yelp_data = yelp_dataset
print(yelp_data.shape)
print(yelp_data.dtypes)
yelp_dataset.head

In [84]:
import sklearn.feature_extraction.text as sk_text
tfidf_vector = sk_text.TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word',
 stop_words= 'english',ngram_range=(1,1), min_df = .05 , max_df = .85)

In [ ]:
matrix = tfidf_vector.fit_transform(yelp_data['all_review'])

In [ ]:
tfidf_data = matrix.toarray()
tfidf_data

In [85]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(final_input_features, yelp_data['stars'], test_size=0.2, random_state=42)

In [ ]:
from sklearn import preprocessing

X = preprocessing.LabelEncoder()
yelp_data['stars_encoded'] = X.fit_transform(yelp_data['stars'])

SVM

In [ ]:
f1_score(y_test,y_pred_svm, average ='micro')

In [ ]:
plt.plot(y_pred_svm[10:20],label = 'Predicted')
plt.plot(y_test[10:20].values, label = 'Actual')

plt.legend()
plt.show()

KNN

In [ ]:
f1_score(y_test,y_pred_knn,average='micro')

In [ ]:
plt.plot(y_pred_knn[:10],label = 'Predicted')
plt.plot(y_test[:10].values, label = 'Actual')

plt.legend()
plt.show()

NLP

In [ ]:
yelp_class = yelp_data[(yelp_data["stars"]==1) | (yelp_data["stars"]==5)]

In [ ]:
texts=yelp_class["text"]
stars=yelp_class["stars"]

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
X=CountVectorizer().fit_transform(texts)

Logistic Regression

In [ ]:
f1_score(y_test,y_pred_log_reg,average='micro')

In [ ]:
from sklearn.metrics import accuracy_score
print("accuracy: %.2f"
      % accuracy_score(y_test, y_pred_log_reg))

In [ ]:
plt.plot(y_pred_log_reg[:10],label = 'Predicted')
plt.plot(y_test[:10].values, label = 'Actual')

plt.legend()
plt.show()